table {
    width: 100%; /* Use 100% to make it fit the viewport width */
    border-collapse: collapse;
    border-spacing: 5px 0;
    
}

th, td {
    border: 3px solid #0a0a0a;
    padding: 8px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.partner-container {
    display: flex;
    padding-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box; 
}

.partner-box {
    background-color: #91B2EB;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 35%;
    margin-top: 20px; 
    margin-bottom: 15px; 
}